.vs
Library
Logs
obj
Temp
UserSettings
.vsconfig
*.csproj
*.sln
ZentsujiMetaverse/Assets/Hayashi/Texter/善通寺ロゴ/ZenMaruGothic-Medium SDF.asset

ZentsujiMetaverse/Assets/Hayashi/Assets/ModelAssets/LeartesStudios/CyberpunkGigapack/Art/Meshes

/ZentsujiMetaverse/Assets/Hayashi/Assets/ModelAssets/LeartesStudios/CyberpunkGigapack/Art

/ZentsujiMetaverse/Assets/Allsky/Anime

/ZentsujiMetaverse/Assets/Hayashi/Assets/Allsky
/ZentsujiMetaverse/Assets/Hayashi/Assets/ModelAssets/_DLNK
