.vs
Library
Logs
obj
Temp
UserSettings
.vsconfig
*.csproj
*.sln
ZentsujiMetaverse/Assets/Hayashi/Texter/善通寺ロゴ/ZenMaruGothic-Medium SDF.asset

ZentsujiMetaverse/Assets/Hayashi/Assets/ModelAssets/LeartesStudios/CyberpunkGigapack/Art/Meshes

/ZentsujiMetaverse/Assets/Hayashi/Assets/ModelAssets/LeartesStudios/CyberpunkGigapack/Art

/ZentsujiMetaverse/Assets/Allsky/Anime

/ZentsujiMetaverse/Assets/Hayashi/Assets/Sky/Allsky



/ZentsujiMetaverse/Assets/Hayashi/Assets/ModelAssets/_DLNK/_DLNK/_DLNK Source/_DLNK Libraries/\[dlnk Texture Library\]
/ZentsujiMetaverse/Assets/Firebase
ZentsujiMetaverse/Assets/Hayashi/Assets/Font/ZenMaruGothic-Medium SDF.asset
ZentsujiMetaverse/Packages/com.unity.services.vivox@15.1.210000-pre.1/Plugins/iOS/libvivoxsdk.a
ZentsujiMetaverse/Assets/Hayashi/Scene/TitleScene/OcclusionCullingData.asset
ZentsujiMetaverse/Assets/Hayashi/Scene/TitleScene/OcclusionCullingData.asset
ZentsujiMetaverse/Assets/Hayashi/Scene/TitleScene/OcclusionCullingData.asset
