.vs
Library
Logs
obj
Temp
UserSettings
.vsconfig
*.csproj
*.sln
ZentsujiMetaverse/Assets/Hayashi/Texter/善通寺ロゴ/ZenMaruGothic-Medium SDF.asset
ZentsujiMetaverse/Assets/Hayashi/Assets/LeartesStudios/CyberpunkGigapack/Art/Meshes
/ZentsujiMetaverse/Assets/Hayashi/Assets/LeartesStudios/CyberpunkGigapack/Art
/ZentsujiMetaverse/Assets/Allsky/Anime
